.service-icon {
    width: 100px;
    /* Adjust the size as needed */
    height: 100px;
    /* Adjust the size as needed */
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}